version: '3.8'

services:
  
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:alpine
    container_name: roomify-redis
    ports:
      - "6379:6379"
    restart: always
    # Persistencia
    command: redis-server --save 60 1 --loglevel warning 

volumes:
  mongo_data: